{% load static %}
<!--
Theme by: WebThemez.com
Note: Please use our back link in your site (webthemez.com)
-->

<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Essential's Shop</title>
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  img {
    height: 80px;
    width: 80px;
    border-radius: 40%;
}
.right{
  text-align: center;
}
.button {
  background-color: #0f66b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
body{
  background:url("{% static 'images/swirl_pattern.png' %}") top left repeat;
}

</style>
<script type="text/javascript">

  $("#formsubmit").click(function () {

    $.ajax({
      url: '/ajax/save-email',
      success: function (data) {
      }
    });

  });

</script>
</head>

<body id="home">
<section class="main">
<div id="Content" class="wrapper topSection">
	<div id="Header">
	<div class="wrapper">
		<div class="logo">
      <h1> Essentials <i class="fa fa-shopping-cart"></i></h1></div>
		</div>
	</div>
	<h2>We are coming soon!!!</h2>
  </div>
</section>
<section class="subscribe spacing">
<div class="container">
<div id="subscribe">
	<h3>Subscribe To Get Notified</h3>
	<form id="formsubmit" method="post">
    {% csrf_token %}
		<p>
      <input id="mytext" name="contact" value="" placeholder="Email or phone Number" type="text" id=""/>
      <input type="button" name="button" value="Submit" onclick="document.getElementById('formsubmit').submit();">
  </p>
	</form>

  <div class="right">
    <a href="{% url 'india_status' %}" class="button"> <i class="fa fa-arrow-left"></i> Get back to Stats</a>
  </div>

	</div>
</div>
</section>

<section class="features spacing">
  <div class="container">
    <h2 class="text-center">Products</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center"><img src="{% static 'images/mask.png' %}" alt="Features"></div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <!--features 1-->
            <h4>Mask</h4>
            <p>
              A surgical mask/face mask, is to be worn by during this pandemic Situation of Covid19 to Protect ourselves and others from Spreading the virus.
              Our masks are designed to prevent infections by catching bacteria shed in liquid droplets and aerosols from the wearer's mouth and nose.

              </p>
            <!--features 1 end-->
          </div>
        </div>
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center"><img src="{% static 'images/ppe1.jpeg' %}" alt="Features"></div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <!--features 2-->
            <h4>PPE Kits</h4>
            <p>
              Personal Protective Equipment (PPE) is most important in preventing transmission
              of the Covid virus not only in treatment centres but also various
              activities, e.g. Travelling, Visiting Hospitals for covid testing, cleaning, waste management
              and community care related to the outbreak.
              </p>
            <!--features 2 end-->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center"><img src="{% static 'images/sanitizer.jpeg' %}" alt="Features"></div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <!--features 3-->
            <h4>Sanitizers</h4>
            <p>
              The use of hand sanitizers is a habit that can help
              keep us all exposed to fewer germs, and therefore may
               decrease our chance of illness. Whether you are out for groceries or for work.
               <br>
               <i>
                 To use hand sanitizers effectively, place a small amount,
                  the size of your thumbnail, on the palm of your hand and
                  rub it over your entire hand, including in your nailbeds.
               </i>



            </p>
            <!--features 3 end-->
          </div>
        </div>
        <div class="featuresPro">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center"><img src="{% static 'images/custom_mask.jpeg' %}" alt="Features"></div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <!--features 4-->
            <h4>Custom Masks</h4>
            <p>
              As we have learned from few months that Our life can't
              stop. Custom designed mask for Various purposes, designed according to the design selected by you.
            </p>
            <!--features 4 end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Scripts-->

</body>
</html>
